h2 {
  font-size: 20px;
  margin: 0 auto;
  padding: 10px;
}
h3 {
  font-size: 18px;
  font-weight: 400;
}

a {
  color: var(--font-color);
  text-decoration: none;
}

a:hover {
  color: var(--branding-color);
}

footer,
footer p {
  color: var(--font-color);
  font-family: monospace;
  font-size: 10px;
  background: white;
  margin-bottom: 0;
}

.container {
  margin-top: 20px;
}

.contact-image {
  display: block;
  margin: 0 auto;
  text-align: right;
  padding: 0 50px;
  max-width: 300px;
  filter: drop-shadow(0, 0, 10px rgba(0, 0, 0, 0.5));
}

.contact-info {
  margin: 0;
  padding-left: 40px;
  padding-top: 40px;
}

.contact-icon {
  color: var(--branding-color);
}

.contact-info p {
  margin-bottom: 18px;
}

@media all and (max-width: 768px) {
  .hero {
    padding: 15px;
  }
  .hero h1 {
    font-size: 55px;
  }
  .contact-image {
    margin-top: 0px;
  }
  .contact-image,
  .contact-info {
    text-align: center;
    margin: 0 auto;
    padding: 0;
  }
}
