.homepage-content container {
  padding: 60px 20px 0 0;
  margin-bottom: 0;
}

.homepage-content .subject-header {
  font-size: 35px;
  line-height: 1.5;
}

.project-description {
  padding: 120px 60px;
}

.project-description p {
  font-size: 20px;
}
